<section id="footer">
	<div class="first">
		<h4>About</h4>
		<a href="/">PiggyBirdCTF</a> is a blog about CTF and Security.
		</div>
		<div class="latest">
		<h4>Linked Websites</h4>
		<ul>
		<li><a href="/">PiggyBird</a></li>
		</ul>
	</div>
	<div class="links">
		<h4>Information</h4>
		<ul>
		<li><a href="/">Mailing List</a></li>
		<li><a href="/">Advertise</a></li>
		<li><a href="/">Privacy</a></li>
		</ul>
	</div>
	<div class="social">
		<h4>Connect with Us</h4>
		<ul>
		<li><a class="twitter" href="http://twitter.com/PiggyBirdCTF"><span>Twitter</span></a></li>
		<li><a class="facebook" href="http://facebook.com/piggybirdctf"><span>Facebook</span></a></li>
		<li><a class="email" href="email:p199y.bird@gmail.com"><span>Email</span></a></li>
		</ul>
	</div>
	<div class="copyright">
	Copyright &copy; 2017, PiggyBird
	</div>
</section>